:root {
  --inter: "Inter", sans-serif;
  --beige: #F0DFCB;
  --charcoal: #333333;
  --lightgrey: #F3F3F3;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--inter);
  font-size: 1.6rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
